/* Paleta personalizada */
:root {
  --cream: rgb(239, 219, 191);
  --cherry: rgb(172, 48, 48);
  --deep-red: rgb(104, 24, 31);
  --midnight: rgb(18, 18, 17);
}

body {
  background-color: var(--midnight);
  color: var(--cream);
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar personalizada */
.navbar-custom {
  background-color: var(--deep-red);
}

.nav-link {
  color: var(--cream) !important;
}

.nav-link:hover {
  color: var(--cherry) !important;
}

/* Botones personalizados */
.btn-cherry {
  background-color: var(--cherry);
  color: var(--cream);
  border: none;
}

.btn-cherry:hover {
  background-color: rgb(140, 30, 30);
  color: var(--cream);
}

/* Slider imágenes */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  background: #000;
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-images img {
  width: 100%;
  height: auto;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--cream);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Imagen perfil */
.foto-inicio {
  width: 260px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Clase para imágenes verticales y responsivas */
.img-vertical-responsive {
  max-width: 300px; /* Puedes ajustar este valor.*/
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block; /* Para que los márgenes auto funcionen si la centras */
  margin-left: auto; /* Para centrar la imagen */
  margin-right: auto; /* Para centrar la imagen */
  border-radius: 10px; /* Opcional: si quieres bordes redondeados */
}

/* Clase para imágenes horizontales y responsivas */
.img-horizontal-responsive {
  max-width: 600px; /* Ajusta este valor según el tamaño deseado. */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block; /* Para que los márgenes auto funcionen si la centras */
  margin-left: auto; /* Para centrar la imagen */
  margin-right: auto; /* Para centrar la imagen */
  border-radius: 10px; /* Opcional: si quieres bordes redondeados */
}